@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply inline-block rounded-xl px-6 py-3 bg-brand-700 text-white font-medium;
  }
  .card {
    @apply rounded-2xl border border-brand-200 p-6 bg-white/80;
  }
}
